/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'PixelStyle';
    src: url(../css/fonts.ttf);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: 'PixelStyle', -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}

h1 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
    font-size: 10vw;
    color: #ff6000;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
        -1px 1px black, 1px 1px black, 1px -1px black, -1px -1px black;
    background-color: #01cfff;
    border-color: #07738d;
    border-width: 3px 0 3px 0;
    border-style: solid;
}

input {
    width: 12%;   
    height: 23%;
    font-size: 18vw;
    color: #ff6000;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
    -1px 1px black, 1px 1px black, 1px -1px black, -1px -1px black;
    background-color: #01cfff;
    border-width: 0 0 0 0;
    text-align: center;
    font-family: 'PixelStyle';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

/* Portrait layout (default) */
.app {
    height: 100%;
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: 30%;
}

.title {
    height: 35%;
    text-align: center;
}

.loadable {
    display: none;
}

.imagecontainer {
    height: 23%;
    text-align: center;
}

.creditssettingsimg {
    display: inline-block;
    width: 27%;
}

.coming {
    width: 25%;
    left: 68%;
    top: 62%;
    position: absolute;
    animation:bigger 1000ms infinite;
}

.hostjoinheader {
    height: 30%;
    text-align: center;
}

.titleimage {
    width: 95%;
    padding-top: 7%;
}

.textimage {
    width: 54%;
}

.numbercontainer {
    background-color: #01cfff;
    border-color: #07738d;
    border-width: 0 0 3px 0;
    border-style: solid;  
}

.mergedbottom {
    margin-bottom: 0;
    border-width: 3px 0 0 0;
}

.instructioncontainer {
    height: 65;
}

.instructioncontent {
    text-align: center;
}

.instrimg {
    border-style: solid;
    border-width: 3px;
    border-color: #07738d;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 6vw;
}

.instr {
    font-size: 6vw;
}

.instrproceedp {
    background-color: transparent;
    border-style: none;
}

.instrproceed {
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 0;
    background-color: #01cfff;
    border-color: #07738d;
    border-width: 3px;
    border-style: solid;
    padding-left: 1vw;
    padding-right: 1vw;
}

.credits {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.creditsel {
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    background-color: transparent;    
    border-style: none;
}

/* GAME SCREEN SECTION */
.gameheader {
    height: 25%;
    text-align: center;
}

.boardcontainer {
    height: 75%;
    background-image: url(../img/board.png);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.piece {
    position: absolute;
}

.arrow {
    position: absolute;
    z-index: 1;
}

.playagain {
    z-index: 1;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

.errormsg {
    font-size: 6vw;
}

@keyframes fade {
    from { opacity: 0.5; }
    50% { opacity: 1.0; }
    to { opacity: 0.5; }
}
 
@keyframes bigger {
    from { width: 25%; left: 68%;}
    50% { width: 28%; left: 67%;}
    to { width: 25%; left: 68%;}
}

@keyframes loading {
    from { width: 75%; }
    25% { width: 80%; }
    50% { width: 85%; }
    75% { width: 80%; }
    to { width: 75%; }
}


.loadingimage {
    height: 100%;
    animation: loading 1400ms steps(50) infinite;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    background-image: url(../img/loading.png);
}

.blink {
    z-index: 2;
    animation:fade 1000ms infinite;
}
