@font-face {
  font-family: 'fonterine';
  src: local('Fonterine'),
       url('fonts.ttf') format("truetype");
}

body {
    background-image: url('bg.jpg');
    font-family: fonterine;
}

p, li {
    font-size: x-large;
}

a {
    color: #5c2300;
}

a:hover {
    color: black;
}

.title {
    min-width: 55%;
    max-width: 85%;
    margin-top: 5vh;
}

.navverina {
    border-bottom: 3px solid #5c2300;
    background-color: #ff6406;
}

.biggo {
    font-size: 3vh;
    font-weight: bold;
    font-family: fonterine;
}

.biggerino {
    font-size: 2vh;
    font-weight: bold;
    font-family: fonterine;
}

.footer {
    border-top: 3px solid #5c2300; 
    background-color: #ff6406; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
}

.version {
    font-size: 5vh;
}

.borderato {
    background-color: #01cfff;
    border-color: #07738d;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.dritto {
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.logo {
    width: 12vh;
}